<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eat da Burger!</title>
  <link rel="icon" type="image/png" href="/burger/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../public/assets/css/styles.css">
  <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
  {{{ body }}}
</body>
</html>