<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eat da Burger!</title>
  <link rel="icon" type="image/png" href="/assets/img/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/burgers.js"></script>
</head>
<body>
  {{{ body }}}
</body>
</html>