<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eat da Burger!</title>
  <!--burger image-->
  <link rel="icon" type="image/png" href="../../assets/img/favicon.ico">
  <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
  {{{ body }}}
</body>
</html>