<h1>Eat Da Burger!</h1>


{{#each burgers}}
<p>Name: {{burger.burger_name}}</p>
{{/each}}

<form>
    <input type="text" name="burger">
    <button type="submit">Submit Burger</button>
    
</form>


